
  .nod_msg {
    background: #fcc;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #b94a48;
    display: inline-block;
  }

  .hideme{
    background: #fcc;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #b94a48;
    display: inline-block;
  }